[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
pydantic = "*"
pymysql = "*"

[dev-packages]
pytest = "*"
ruff = "*"
pyright = "*"

[requires]
python_version = "3.12"
